
@media (min-width: 1920px){
   
}
@media (min-width: 1600px){

}
@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
   
}
@media (min-width: 1320px){
    .hdr_container{
        max-width: 1300px;
    }
}
@media (min-width: 1200px){
 
}
@media (min-width: 1025px){
    .mega_menu_sec{
        opacity: 0;
        visibility: hidden;
        transition: 400ms all ease-in 50ms ease-out;
    }

    .menu_wrapper > ul > li:hover .mega_menu_sec{
        opacity: 1;
        visibility: visible;
    }
    .menu_wrapper > ul > li:hover > a >i{
        transform: rotateX(180deg);
        vertical-align: baseline;
    }
    .hdr_clr_change .header{
        background-color: #fff;
    }

    .hdr_clr_change .nav_menu_item{
        color: #000;
    }
    /* .mega_menu_trigger_wrp:hover .nav_menu_item{
        color: #1000E8;
    } */
    .hdr_clr_change .hdr_logo svg{
        fill: #1000E8;
    }
}
@media(max-width:1499px) { 

}
@media(max-width:1199px){
    /* hdr start */
    .menu_wrapper>ul>li:nth-last-child(2){
        margin-right: 20px;
    }
    .menu_wrapper>ul>li:not(:last-child) {
        margin-right: 20px;
    }
    .menu_wrapper{
        padding: 0 25px 0 50px;
    }
    /* hdr end */
    .industrial .industral_cont_wrp .shape_right{
        top: -469px;
        /* left: 0; */
        right: -479px;
        width: 100%;
        height: 525px;
    }
    .industrial .lft_age_shape{
        height: 156px;
    }
    .ind_con_left{
        margin-right: 28px;
        margin-top: -33px;
    }
    /* .industrial .container::after{
        left: -566px;
        bottom: -329px;
        width: 732px;
    height: 420px;
    } */
    .industrial .container::after{
        left: -669px;
        bottom: -371px;
        height: 495px;
    }
}

@media(max-width:991px) {

   
}

@media(max-width:767px) {
    
}
@media(max-width: 575px){
  
}

@media(max-width:480px) {
   
}

@media(max-width:420px) {
}
@media(max-width:360px){

}